.projects-section {
  padding: 50px;
  text-align: center;
}

.projects-section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.mySwiper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 65%;
  max-width: 400px;
  padding-bottom: 15px;
  position: relative; 
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.project-img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #f0f0f0;
}

.project-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.project-link {
  font-size: 1.5rem;
  color: #092c52;
  text-decoration: none;
  transition: color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

.project-link:hover {
  color: #0056b3;
}

/* Responsive Design */
@media (max-width: 1024px) {
  /* Tablet view */
  .project-card {
    width: 80%;
    max-width: 350px;
  }

  .project-title {
    font-size: 1.1rem;
  }

  .project-link {
    font-size: 1.3rem;
    top: 10px;
    right: 15px;
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 90%;
    max-width: 300px;
    padding: 10px;
  }

  .project-img {
    height: 180px;
  }

  .project-title {
    font-size: 1rem;
    margin: 8px 0;
  }

  .project-link {
    font-size: 1.2rem;
    top: 8px;
    right: 10px;
  }
}
