.my-portfolio{
    display: flex;
    justify-content: center;
    gap:20px;
    margin: 7% 30px;
}
.my-portfolio .about-section{
    width: 50%;
}
.my-portfolio .img-section{
    width: 30%;
}
.my-img{
    border-radius: 50%;
    height: 350px;
    width: 350px;
}